### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
Total_Players_list = purchase_data['SN'].unique()
Total_Players = len(Total_Players_list)
Player_count = {'Total_Players':f'{Total_Players}'}
Player_count_df = pd.DataFrame(Player_count,index=[0])
Player_count_df

  Total_Players
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
num_items = len(purchase_data['Item ID'].unique())
average_price = round(purchase_data['Price'].mean(),2)
number_purchase = len(purchase_data)
total_revenue = purchase_data['Price'].sum()

df2 = {'Number of Unique items':num_items,'Average Price':f'${average_price}','Number of Purchases':number_purchase,'Total Revenue':f'${total_revenue}'}
Purchasing_Analysis = pd.DataFrame(df2, index =[0])
Purchasing_Analysis

   Number of Unique items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
male_count = len(purchase_data.loc[purchase_data['Gender'] == 'Male']['SN'].unique())
female_count = len(purchase_data.loc[purchase_data['Gender']=='Female']['SN'].unique())
other_count = len(purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed']['SN'].unique())
sum_count = male_count + female_count + other_count
df3 = {'Total Count':[male_count,female_count,other_count],'Percentage of Players':[round(male_count/sum_count*100,2),
round(female_count/sum_count*100,2),round(other_count/sum_count*100,2)]}
gender_demo = pd.DataFrame(df3,index = ['Male','Female','Other / Non-Disclosed'])
gender_demo

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


##Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
f_purchase_total = purchase_data.loc[purchase_data['Gender'] == 'Female']['Price'].sum()
m_purchase_total = purchase_data.loc[purchase_data['Gender']=='Male']['Price'].sum()
o_purchase_total = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed']['Price'].sum()
f_purchase_count = len(purchase_data.loc[purchase_data['Gender']=='Female'])
m_purchase_count = len(purchase_data.loc[purchase_data['Gender']=='Male'])
o_purchase_count = len(purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed'])

df4 = {'Purchase Count':[f_purchase_count,m_purchase_count,o_purchase_count],'Average Purchase Price':
      [f'${round(f_purchase_total/f_purchase_count,2)}',f'${round(m_purchase_total/m_purchase_count,2)}',f'${round(o_purchase_total/o_purchase_count,2)}'],'Total Purchase Value':
       [f'${f_purchase_total}',f'${m_purchase_total}',f'${o_purchase_total}'],'Avg Total Purchase per Person':[f'${round(f_purchase_total/female_count,2)}',f'${round(m_purchase_total/male_count,2)}',f'${round(o_purchase_total/other_count,2)}']}
# use .map
purchase_analysis = pd.DataFrame(df4,index=['Female','Male','Other / Non-Disclosed'])
purchase_analysis.index.name = 'Gender'
purchase_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['age range'] = pd.cut(purchase_data['Age'],bins,labels=group_names)
df5 = purchase_data.groupby('age range')
total_c = df5['SN'].count()
total_c

age range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

total_P = df5['Price'].sum().tolist()
average_P = df5['Price'].mean().tolist()
purchase_C = df5['Price'].count().tolist()

df6 = {'Purchase Count':purchase_C,'Average Purchase Price':average_P,'Total Purchase Value':total_P}
p_analysis = pd.DataFrame(df6,index = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
p_analysis

       Purchase Count  Average Purchase Price  Total Purchase Value
<10                23                3.353478                 77.13
10-14              28                2.956429                 82.78
15-19             136                3.035956                412.89
20-24             365                3.052219               1114.06
25-29             101                2.900990                293.00
30-34              73                2.931507                214.00
35-39              41                3.601707                147.67
40+                13                2.941538                 38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
top5_count = purchase_data.groupby('SN')['Price'].count()
top5_sum = purchase_data.groupby('SN')['Price'].sum()
indexes = top5_sum.keys().tolist()
top5_name_df = purchase_data.loc[purchase_data['SN'].isin(indexes)]
top5_name_s = top5_name_df.groupby('SN')['Price'].count()
top_spenders = pd.DataFrame({'Total Purchase Value':top5_sum,'Purchase Count':top5_name_s})

top_spenders['Average']=top_spenders.apply(lambda row: round(row['Total Purchase Value']/row['Purchase Count'], 2), axis=1)
top_spenders.sort_values(by=['Total Purchase Value'],ascending = False).head()

             Total Purchase Value  Purchase Count  Average
SN
Lisosia93                   18.96               5     3.79
Idastidru52                 15.45               4     3.86
Chamjask73                  13.83               3     4.61
Iral74                      13.62               4     3.40
Iskadarya95                 13.10               3     4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:
pop_item = purchase_data.groupby(['Item ID','Item Name'])['Price'].sum()
pop_count = purchase_data.groupby(['Item ID','Item Name'])['Price'].count()
pop_price = purchase_data.groupby(['Item ID','Item Name'])['Price'].mean()
most_pop_items = pd.DataFrame({'Purchase Count':pop_count,'Item Price':pop_price,'Total Purchase Value':pop_item})
most_pop_items.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [50]:
most_pop_items.sort_values(by=['Total Purchase Value'],ascending = False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80